@model IEnumerable<Team3SemesterProject.Models.Profile>

@{
    ViewBag.Title = "Centric Employees";
}

<h2>Centric Employees</h2>

<p>
    @Html.ActionLink("Add a New Profile", "Create")
</p>
@using (Html.BeginForm("Index", "Profiles", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("searchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.office)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hireDate)
        </th>
        <th>
            Nominations
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.office)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hireDate)
        </td>
        <td>
            @*Leaderboard Count*@
            @{
                Team3SemesterProject.DAL.MIS4200ContextTeam3 db = new Team3SemesterProject.DAL.MIS4200ContextTeam3();
                var nomCnt = db.leaderboard.Count(n => n.profileID == item.profileID);


            }
            @nomCnt
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.profileID }) |
            @Html.ActionLink("Details", "Details", new { id = item.profileID })

        </td>
    </tr>
}

</table>
